body
        {

            background-image: url(https://static.vecteezy.com/system/resources/previews/011/697/956/original/3d-online-shopping-landscape-background-realistic-digital-marketing-on-website-and-mobile-application-vector.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: darkslateblue;
        }
        table
        {
            padding: 80px 80px;
        }
        fieldset
        {
            padding: 20px 20px;
            margin-left: 200px;
            margin-right: 1500px;
            margin-top: 200px;
        }
        #log{
            color: blue;
            background-color: burlywood;
            border-color: blue;
        }
